@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: poppins;
}

body{
    background: #399918;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.heading{
    /* border: 1px solid; */
    text-align: center;
}

.container{
    /* border: 1px solid; */
    width: 400px;
    height: 300px;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
    background-color: white;
}

p{
    font-size: xx-large;
    color: #3E3232;
    letter-spacing: 1px;
    font-weight: 600;
}

p{
    color: black;
    font-size: x-large;
}

.input-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.input-container input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: large;
    margin-top: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.range-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container p{
    font-size: large;
}

button{
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    width: 100%;
    font-weight: 600;
    margin-top: 15px;
    opacity: 90%;
    
}
button:hover{
    cursor: pointer;
    transition: 0.2s ease;
    opacity: 100%;
    box-shadow: 0px 0px 8px  rgba(0, 0, 0, 0.203);
}



            
#copy{
    position: absolute;
    right: 8px;
    top: 22px;
    font-size: x-large;
}

#copy:hover{
    cursor: pointer;
}

#check{
    position: absolute;
    right: 8px;
    top: 22px;
    font-size: x-large;
    display: none;
}

#check:hover{
    cursor: pointer;
}

input[type="range"] {
    height: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.range-container input:hover{
    cursor: pointer;
}

@media (max-width: 1100px) {
    .container{
        width: 90%;
        box-sizing: border-box;
        height: 320px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
    #copy{
        top: 22px;
    }
    #check{
        top: 22px;
    }
    input{
        width: 100%;
        font-size: small;
    }
    .heading{
        margin-bottom: 10px;
    }

    .heading p{
        font-size: 1.2rem;
    }
    span{
        font-size: 1.3em;
    }
    button{
        padding: 15px;
        border-radius: 5px;
    }
}
